.Name{
    font-weight: 300;
    color: blue;
}

.School{
    color: crimson;
}

.Total{
    color: darkmagenta;
}

.formatstyle{
    text-align: center;
    font-size: large;
}

.Score{
    color: forestgreen;
}